.products-section {
  width: 100%;
  max-width: 1426px !important;
  margin: 0 auto;
}
.book-card {
  display: flex;
  justify-content: space-around;
}

.section-heading {
  text-align: center !important;
  font-size: 30px !important;
  margin-bottom: 27px;
  font-weight: 600 !important;
  color: #000;
  text-transform: none;
  line-height: 30px;
  font-family: Montserrat;
}

.author {
  text-align: center;
  min-height: 15px;
  letter-spacing: 0.6px;
  color: #1f4f95 !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  font-family: Montserrat;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.more-link {
  text-align: right;
  font: 500 12px / 20px Montserrat;
  letter-spacing: 0.6px;
  color: #000;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 20px;
  justify-content: end;
}
